* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', serif;
}

/* Sets body's main configurations. */
body {
    background-color: #F5F5F6;
    color: #252526;
}

/* Sets height of image to the width of the screen. */
#main-image {
    max-width: 100%;
    height: auto;
} 

/* Sandia Animal Hospital and the three buttons */
#row-1 {
    background-color: #FFFFFF;
    text-align: center;
    color: #007890;
    padding: 1.5% 7%; /* Using percentages helps with responsiveness */
}

/* Have the three buttons are on the same line */
#row-1 div {
    display: flex;
    justify-content: center;
}

#row-1::after {
    content: "";
    display: table;
    clear: both;
}

/* Three entries */
#row-2 {
    margin: 3% 15%;
    align-items: center;
    justify-content: center;
    
}

#row-2::after {
    content: "";
    display: table;
    clear: both;
}

/* Why Sandia Animal Hospital */
#row-3 {
    margin: 0 15% 3% 15%;
}

#row-3::after {
    content: "";
    display: table;
    clear: both;
}

/* Hours of operation and map */
#row-4 {
    margin: 0 15% 3% 15%;
}

#row-4::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
#row-5 {
    background-color:#007890;
    color: #FFFFFF;
    margin: 0;
}

#row-5::after {
    content: "";
    display: table;
    clear: both;
}

.box-container {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Navigation Bar */

.navbar {
    width: 100%;
    overflow: hidden;
    /* position: absolute; */
    background-color: #007890;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar a {
    float: left;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #901800;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor:pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #901800;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5f5f6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 5% 10%;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Columns */

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
    
}

.column a {
    background-color: white;
    color: #007890;
    border: 2px solid #007890;
    border-radius: 10px;
    padding: 3% 15%;
    width: 100%;
    text-decoration: none;
    display: inline-block; 
}

.column a:hover{
    color: white;
    background-color: #007890;
}


/* Adds shadow to the container of the blog-style content */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0 0 20% 0;
    background-color: white;
}

/* Sets first div of row 4 to only occupy 25% of the container */
.map-column-1 {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Sets second div of row 4 to occupy 75% of the container */
.map-column-2 {
    float: left;
    width: 75%;
    padding: 0 10px;
}

.footer-column {
    width: 100%;
    display: block;
    margin: 2% 0;
    text-align: center;
}

/* Formatting */ 
.footer-text {
    font-size: small;
}

.bold {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

/* Margins & Padding */

.sm-padding-rl {
    padding: 0 4%;
}

.sm-padding-new {
    margin: 0 1% 0 4%;
}

.xxs-margin-t {
    margin-top: 2%
}

.xxs-margin-b {
    margin-bottom: 2%;
}

.xs-margin-b {
    margin-bottom: 5%;
}

.sm-margin-b {
    margin-bottom: 3%;
}

@media screen and (max-width: 992px) {
    .column {
        width: 33%;
        }
    .map-column-1 {
        width: 25%;
        }
    .map-column-2 {
        width: 75%;
        }
    .footer-column {
        width: 100%;
    }
}
    
@media screen and (max-width: 600px) {
    .column,.map-column-1, .map-column-2, .footer-column {
        width: 100%;
        display: block;
        margin-bottom: 2%;
        }
}
    