<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an Appointment</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/watermelon.png' %}">
    <link rel="stylesheet" href="{% static 'css/appointment-style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
</head>

<body>
    <div class="box-container">
        <nav class="navbar-main">
            <div id="sandia-logo">
                <a class="logo-home" href="/">Sandia Animal Hospital</a>
            </div>
            <div class="navbar">
                <a href="/">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Book an Appointment
                    </button>
                    <div class="dropdown-content">
                        <a href="appointment">Book Appointment</a>
                        <a href="booking_login">View or Modify Appointment</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">About Sandia
                    </button>
                    <div class="dropdown-content">
                        <a href="about">Our Services</a>
                        <a href="drsandia">Meet Dr. Sandia</a>
                    </div>
                </div>

            </div>
        </nav>

        <!-- Form -->
        <div class="form-container">
            <h3 class="text-center">Book an Appointment</h3>
            <a href="/booking_login">
                <p class="text-center" style="font-size: smaller;">Need to modify your appointment? Click here.</p>
            </a>
            <p class="text-center xs-margin-t">Please enter your preferred date and time for your pet's appointment. Although we
                can't guarantee a place for you during your chosen appointment period, we will do our best to do so. You
                will receive a confirmation email within 24 hours of setting up the appointment. </p>
            {% if messages %}
            <ul class="messages xs-margin-t" style="list-style: none; color:#cc0000; text-align:center; margin-top:1%">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/process_appointment" method="post">
                {% csrf_token %}
                <div class="form-row xxs-margin-t">
                    <div class="col-25">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="fname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-25">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="lname">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-25">
                        <label for="pname">Pet's Name</label>
                    </div>
                    <div class="col-75 container1">
                        <div><input type="text" name="pname"></div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-25">
                        <label for="email">Email Address</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="email">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-25">
                        <label for="phone">Phone Number</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-25">
                        <label for="preferred_date">Preferred Date</label>
                    </div>
                    <div class="col-75">
                        <input type="date" name="preferred_date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-25">
                        <label for="preferred_time">Preferred Time</label>
                    </div>
                    <div class="col-75">
                        <select name="preferred_time">
                            <option value="morning">Morning (7:30 AM - 11:00 AM)</option>
                            <option value="afternoon">Afternoon (11:00 AM - 3:30 PM)</option>
                            <option value="early_evening">Early Evening (4:00 PM - 6:30 PM)</option>
                        </select>
                    </div>
                </div>
                <div class="form-row xs-margin-t">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        <!-- End of Form-->
        <footer class="footer">
            <div class="footer-column">
                <h3 class="footer-text">Sandia Animal Hospital</h3>
                <p class="footer-text">1234 Number Street, Suite 567</p>
                <p class="footer-text">Albuquerque, New Mexico 89012</p>
                <p class="footer-text">(123) 456-7890</p>
                <p class="footer-text">info@thisisfake.com</p>
            </div>
        </footer>
    </div>
</body>

</html>